h2{
margin: 10px 0 30px 0;
      
      font-size: 30px;
      color: white;
      font-style: bold;
      text-align: center;

  }
  h1{
  	text-align: center;
  	border-style: ridge;
  }
  h3{
  	border-style: outset;
  	width: 800px;
  }
  .row{

  	border: ridge;
  }
  
   footer.footer {
    height: 60px;
    width: 100%;
    background-color: grey;
}

 div.footercontainer {
    color:blue;
    text-align: center;
    font-size: 0.7em;
}
p{
	text-indent: 50px;
}
.but{
	text-align: right;
}
.data1{
	border-style: inset;
}
  .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
  .open.dropdown-toggle {
      color: #fff;
      background-color: #555 ;
  }
  .dropdown-menu li a {
      color: #000 !important;
  }
  .dropdown-menu li a:hover {
      background-color: red !important;
  }
  .pagination{
  	margin-left: 450px;
  }
  input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-left: 800px;
    float:right;
}

input[type=text]:focus {
    width: 600px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius:50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
